[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
asttokens = "*"
attrs = "*"
automat = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
cloudpickle = "*"
colorama = "*"
comm = "*"
configparser = "*"
constantly = "*"
contourpy = "*"
coverage = "*"
coveralls = "*"
crispy-tailwind = "*"
cryptography = "*"
cycler = "*"
debugpy = "*"
decorator = "*"
django = "*"
django-appconf = "*"
django-browser-reload = "*"
django-compressor = "*"
django-crispy-forms = "*"
django-tailwind = "*"
djangorestframework = "*"
docopt = "*"
et-xmlfile = "*"
exceptiongroup = "*"
executing = "*"
fonttools = "*"
future = "*"
genson = "*"
hyperlink = "*"
hypothesis = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
jedi = "*"
joblib = "*"
jsonschema = "*"
jsonschema-specifications = "*"
jupyter-client = "*"
jupyter-core = "*"
kiwisolver = "*"
matplotlib = "*"
matplotlib-inline = "*"
mock = "*"
nest-asyncio = "*"
networkx = "*"
nltk = "*"
numpy = "*"
openpyxl = "*"
packaging = "*"
pandas = "*"
parso = "*"
pexpect = "*"
pillow = "*"
platformdirs = "*"
plotly = "*"
pluggy = "*"
prompt-toolkit = "*"
psutil = "*"
ptyprocess = "*"
pure-eval = "*"
pyarrow = "*"
pycparser = "*"
pygments = "*"
pyopenssl = "*"
pyparsing = "*"
pytest = "*"
pytest-cov = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
rcssmin = "*"
referencing = "*"
regex = "*"
reportlab = "*"
requests = "*"
rjsmin = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
simplejson = "*"
six = "*"
sortedcontainers = "*"
sqlparse = "*"
stack-data = "*"
tabpy = "*"
textblob = "*"
threadpoolctl = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
typing-extensions = "*"
twisted = "*"
tzdata = "*"
urllib3 = "*"
wcwidth = "*"
whitenoise = "*"
xlrd = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "3.10"
