asgiref
asttokens
attrs
Automat
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
configparser
constantly
contourpy
coverage
coveralls
crispy-tailwind
cryptography
cycler
debugpy
decorator
Django
django-appconf
django-browser-reload
django-compressor
django-crispy-forms
django-tailwind
djangorestframework
docopt
et_xmlfile
exceptiongroup
executing
fonttools
future
genson
hyperlink
hypothesis
idna
ipykernel
ipython
jedi
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mock
nest-asyncio
networkx
nltk
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
pycparser
Pygments
pyOpenSSL
pyparsing
pytest
pytest-cov
python-dateutil
pytz
pyzmq
rcssmin
referencing
regex
reportlab
requests
rjsmin
scikit-learn
scipy
seaborn
setuptools
simplejson
six
sortedcontainers
sqlparse
stack-data
tabpy
textblob
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
Twisted
tzdata
urllib3
wcwidth
whitenoise
xlrd
zope.interface
