{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}



<div class="min-h-screen bg-white py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <div class="grid md:grid-cols-2 gap-8 items-start">

            <div>
                <h1 class="text-4xl font-bold text-black mb-4">Budget</h1>
                <p class="text-gray-700 mb-4">
If you have data on how the government spends across different development categories, you can upload it here. If you do not have disaggregated expenditure data, you can simply declare a total budget to be used by the model. The more disaggregate the data are, the more nuanced inferences you will be able to make. To learn about the format and other requirements of the budget dataset, you should download the associated spreadsheet template and consult its "metadata" tab.
                </p>
                <a href="{% url 'download_budget_template' %}" class="inline-block mt-4 px-4 py-2 border border-gray-700 text-black font-semibold rounded hover:bg-green-700 hover:text-white transition duration-300 ease-in-out">
                    Download Template
                </a>
            </div>

            <div>
                <div class="bg-gray-100 rounded-lg p-6 shadow-md">
                    <div class="mb-6">
                      
                        <label class="input-option flex items-start mb-4 cursor-pointer" for="radio-manual">
                            <input type="radio" name="input_method" value="manual" id="radio-manual" checked class="form-radio mt-1">
                            <div>
                                <span class="text-lg font-medium text-gray-900 m-3">Specify the total budget</span>
                                <p class="text-sm text-gray-600 mt-1 mb-2">Enter the average total budget exercised during the sample period of the indicators.</p>
                                <div id="manual-input-section" class="input-section">
                                    <form  action="{% url 'budgets_page' %}" method="post" class="space-y-4" enctype="multipart/form-data" id="budget-form">
                                        {% csrf_token %}
                                        {{ budget_form.media }}

                                        <div class="form-group">
                                            <label for="{{ budget_form.budget.id_for_label }}" class="block text-sm font-medium text-gray-700">Total budget</label>
                                            {{ budget_form.budget|as_crispy_field }}
                                            {% if budget_form.budget.errors %}
                                                <p class="text-red-600 text-xs mt-1">{{ budget_form.budget.errors }}</p>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <label for="{{ budget_form.inflation_rate.id_for_label }}" class="block text-sm font-medium text-gray-700">Inflation Rate</label>
                                            {{ budget_form.inflation_rate|as_crispy_field }}
                                            {% if budget_form.inflation_rate.errors %}
                                                <p class="text-red-600 text-xs mt-1">{{ budget_form.inflation_rate.errors }}</p>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </label>

                        <label class="input-option flex items-start cursor-pointer" for="radio-upload">
                            <input type="radio" name="input_method" value="upload" id="radio-upload" class="form-radio mt-1">
                            <div>
                                <span class="text-lg font-medium text-gray-900">Upload the disaggregated budget</span>
                                <p class="text-sm text-gray-600 mt-1 mb-5">Provide a file with government expenditure data disaggregated into development categories. All the development categories uploaded in this file should be linked to at least one indicator from the dataset uploaded in the previous step (download the expenditure data template for more information).</p>
                            </div>
                        </label>
                    </div>

                    <div id="file-upload-section" class="input-section hidden">
                        <form action="{% url 'budgets_page' %}" method="post" enctype="multipart/form-data" id="upload-form" class="space-y-4">
                            {% csrf_token %}
                            {{ upload_form.media }}

                            {% if upload_form.errors or messages %}
                                <div class="mb-4">
                                    {% if upload_form.errors %}
                                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                            {% for field in upload_form %}
                                                {% for error in field.errors %}
                                                    <p class="text-sm font-semibold">{{ error }}</p>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in upload_form.non_field_errors %}
                                                <p class="text-sm font-semibold">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if messages %}
                                        {% for message in messages %}
                                            <div id="{% if message.tags == 'success' %}upload-success-message{% endif %}"
                                                 class="mt-2 p-3 rounded text-sm text-black bg-{% if message.tags == 'success' %}white{% else %}red{% endif %}-600">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div id="drop-zone" class="border-2 border-dashed border-gray-300 p-6 rounded-lg bg-white text-center transition-all duration-300 hover:border-gray-500">
                                <div class="mb-4">
                                    <svg class="mx-auto h-8 w-8 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M7 16V4h10v12m-5 4l-4-4h8l-4 4z" />
                                    </svg>
                                </div>
                                <p class="text-gray-700">Drag and drop your file here</p>
                                <p class="text-sm text-gray-500 mb-4">Supported formats: xlsx, xls</p>

                                <label for="{{ upload_form.government_expenditure.id_for_label }}" class="cursor-pointer inline-block bg-black text-white px-4 py-2 rounded hover:bg-gray-800 mt-2">
                                    Choose File
                                </label>
                            </div>

                            <div class="hidden">
                                {{ upload_form.government_expenditure }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<div class="mt-6 text-right">
    <div id="next-button-container" class="hidden">
        <!-- Actual button for JS to detect and handle -->
        <button type="button" id="next-button"
            class="inline-block px-6 py-2 bg-green-600 text-white font-semibold rounded hover:bg-green-700">
            NEXT →
        </button>
    </div>
    <div id="next-disabled">
        <!-- Disabled button appearance -->
        <button disabled
            class="inline-block px-6 py-2 bg-gray-400 text-white font-semibold rounded cursor-not-allowed">
            NEXT →
        </button>
    </div>
</div>

    </div>
</div>

<script src="{% static 'Js/Button.js' %}"></script>

{% endblock %}