{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'budgets.css' %}" rel="stylesheet">
    <title>Budgets</title>
</head>
<body>
    <!--navigation bar-->
    <nav id="nav">
        <div class="logo">
           <!-- <button>logo</button> -->
        </div>  
    </nav>
    <!-- main content -->
     <section id="main">

        <!-- left section of the page -->
        <div class="left_sect2">
            <div class="l2heading">
                <h1>
                    STEP2<br />
                    BUDGETS<br />
                </h1>
            </div>
            <div class="l2text">
               <p> 
                    There are two ways in which you can provide information about government expenditure.<br />
                    The first is by entering a total budget amount. This is useful when you do not have <br />
                    information about how the government expenditure is disaggregated. With this level of<br />
                    aggregation, the types of inferences that you can make will be limited to changes in <br />
                    the overall budget size.<br />

                    The second option is to provide a file with the budget disaggregated into expenditure 
                    programmes using the template provided below. <br />
               </p>
              <a class="button" href="{% url  'download_budget_template'    %}">download template</a>
            </div>
        </div>

        <!-- right section of the page -->
        <div class="right-section">
           <div class="right-sect-items">
               <div  id="upper">
                    <h2>add required files</h2>
                    <ol>
                        <li>
                            <span>Option 1: Enter Total Budget Amount</span><br>
                            Use this option if you only have overall<br> 
                            budget figure. It allows limited analysis focused <br>
                            on changes in total budget size.<br>
                        </li>
                        <li>
                           <span>inflation rate</span><br>
                           Add the inflation rate for the period of intrest<br>
                       </li>   
                           <!-- client-side: browsers will enforce numeric format -->
                           <!-- server-side: always validate and convert(in django or flask) to float manually  -->                     
                    </ol>
                 <form action="{% url 'process_whole_budget' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- <ol> -->
                        <!-- <li> -->
                          <!-- <label for="total-budget">total-budget</label> -->
                           <input type="number" name="total-budget" id="total-budget">  
                           <input type="number" step="any" name="inflation" id="inflation">                            
                        <!-- </li> -->
                    </ol>
                    <div class="mt-6 text-right">
                        <div id="next-button-container" class="hidden">
                            <a href="{% url 'upload_network' %}" class="inline-block px-6 py-2 bg-green-600 text-white font-semibold rounded hover:bg-green-700">
                                NEXT →
                            </a>
                        </div>
                        <div id="next-disabled">
                            <button disabled class="inline-block px-6 py-2 bg-gray-400 text-white font-semibold rounded cursor-not-allowed">
                            NEXT →
                            </button>
                        </div>
                     </div>
                 </form>                    
               </div> 

               <div class="lower">
                    <ol>    
                        <li>
                            <span>Option 2: Upload Disaggregated Budget File:</span><br>
                            Use the provided template to upload <br>
                            a file with detailed expenditure broken <br>
                            down by programmes.<br/> 
                            This enables more detailed analysis.
                        </li>
                    </ol>

                    <form action="{% url 'upload_expenditure' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- <li> -->
                            <label class="file-drop-area" for="indicator-file">drop your files
                                <input  type="file" name="indicator-file" id="indicator-file" accept=".xlsxl, .xlsx, .csv".>
                            </label>
                        <!-- </li> -->
                        <!-- </ol> -->
                       <div id="button">
                         <button type="submit">Next</button>
                      </div>
                    </form>                        
               </div>
            </div>
        </div>
     </section>
    <script>
        const fileDropArea = document.querySelector('.file-drop-area');

        fileDropArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            fileDropArea.classList.add('dragover');
        });

        fileDropArea.addEventListener('dragleave', () => {
            fileDropArea.classList.remove('dragover');
        });

        fileDropArea.addEventListener('drop', () => {
            fileDropArea.classList.remove('dragover');
        });
    </script>     
</body>
</html>