{% extends "base.html" %}
{% block content %}
<div class="grid grid-cols-1  md:grid-cols-2 h-screen gap-7 rounded-2xl">
 <div class="md:col-span-1 md:row-span-2 bg-[#ffffff]/10 backdrop-blur-md rounded-xl shadow-lg border border-[#f2f2f2]/20 outline-1 outline-white/60"></div>
 <div class="md:col-span-1 bg-[#ffffff]/10 backdrop-blur-md rounded-xl shadow-lg border border-[#f2f2f2]/20 outline-1 outline-white/60"></div>
 <div class="md:col-span-1 bg-[#ffffff]/10 backdrop-blur-md rounded-xl shadow-lg border border-[#f2f2f2]/20 outline-1 outline-white/60"></div>
</div>
{% endblock %}