<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/firstpage.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poliagentx</title>
</head>
<body>
    <!-- header with navbar -->
    <header>
        <nav class="nav">

        </nav>
    </header>
    <!-- main container containing content -->
    <section class="main-content">
        <!-- left side  of the page -->
        <div class="left-cont">
          <div class="wrap">  
            <h1>Welcome to poliagent x</h1>
            <p>
                PPI is an artificial intelligence framework that <br>
                models the relationship between government spending <br>
                and development outcomes in a multidimensional and<br> 
                highly interconnected environment.<br>
            </p><br><br>
            <p>
                To use the app, you need to go through five steps.<br>
                Each step provides instructions and a spreadsheet <br>
                template that you should use to prepare your data.<br> 
                At the end of the workflow, you will be able to visualise <br>
                your simulation outputs and download the relevant data. <br>
            </p>
         </div>   
        </div>
        <!-- right side of the page -->
        <div class="right-cont">
          <div class="wrapper">  
                <h2>steps to follow</h2>
                <!-- <p> -->
                    <!-- <ul> -->
                        <p>
                            <span>Step 1: indicators</span><br>
                            you should collect time series of indicators<br> 
                            across different policy dimensions (e.g.,<br>
                            education,health, pollution). 
                        </p><br>
                        <p>
                            <span>Step 2: Budget</span><br>
                            This is information about the total<br> 
                            government expenditure<br>
                        </p><br>
                        <p>
                            <span>Step 3: Network</span><br>
                            This is information about the various dependencies<br> 
                            that exist in the government bodies. 
                        </p><br>
                        <p>
                            <span>Step 4: Calibration</span><br>
                            This is where model calibration occurs
                        </p><br>
                        <p>
                            <span>Step 5: Simulation</span><br>
                            This is running the different scenarios that<br> 
                            give one the results.
                        </p><br>
                    <!-- </ul> -->
                <!-- </p> -->
                <div class="start-button">
                    <a href="" id="start-button">Start</a>
                </div>
          </div>  
        </div>
    </section>
</body>
</html>